[Desktop Entry]
Name=xfig
Comment=Editor for vector graphics in FIG format
MimeType=image/x-xfig;
TryExec=xfig
Exec=xfig %f
Icon=xfig
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;VectorGraphics;
